<!DOCTYPE html>
<html lang="en">
<head>
    <title>5x5</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<div class="jumbotron text-center">
  <h1>5x5</h1>
  <p>my workout app</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Workout A</h3>
      <p>Lorem ipsum dolor..</p>
        <a href="/a">
            <button type="button" class="btn btn-default">Start</button>
        </a>
    </div>
    <div class="col-sm-4">
        <h3>Workout B</h3>
      <p>Lorem ipsum dolor..</p>
        <a href="/b">
            <button type="button" class="btn btn-default">Start</button>
        </a>
    </div>
      <div class="col-sm-4">
          <h3>Workout C</h3>
      <p>Lorem ipsum dolor..</p>
          <a href="/c">
              <button type="button" class="btn btn-default">Start</button>
          </a>
    </div>
  </div>
</div>
</html>