<!DOCTYPE html>
<html lang="en">
<head>
    <title>5x5</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="jumbotron text-center">
  <h1>Workout {{workout}}</h1>
  <p>{{description}}</p>
  <p>{{date}}</p>
</div>

<div class="container">
        {% for lift in lifts %}
        <div>
            <div class="row">
            <div class="col-sm-4">
            {{ lift["lift_name"] }}
            </div>
                <div class="col-sm-4">
                    {%for i in range(1, 6)%}
                    {% if i <= lift["current_series"] %}
                    <button style="background-color:green;"
                            class="btn btn-default"
                    >{{i}}x5
                    </button>
                    {% endif %}
                    {% if (i > lift["current_series"]) and (i <= lift["last_series"]) %}
                    <button style="background-color:#cef0b4;"
                            class="btn btn-default"
                    >{{i}}x5
                    </button>
                    {% endif %}
                    {% if (i > lift["last_series"]) and (i <= 6) and (lift["current_series"]) < 5
                    and i > (lift["current_series"]) %}
                    <button style="background-color:white;"
                            class="btn btn-default"
                    >{{i}}x5
                    </button>
                    {% endif %}
                    {% endfor %}

                    <form action="{{ url_for('up_lift') }}"
                          method="post"
                          name='lift'
                          style="float:right;">
                        <input type="hidden" name="lift" value='{{ lift["lift_name"] }}'>
                        <input type="hidden" name="date" value='{{ date }}'>
                        <input type="hidden" name="url" value='{{ route }}'>
                        <button style="background-color:white;"
                                name='lift'
                                type="submit"
                                class="btn btn-default">+1
                        </button>
                    </form>
                </div>
                <div class="col-sm-4">
                    {{ lift["current_weight"] }} kg
                </div>
                <div class="col-sm-4" style="font-size:50%;">
                    previous: {{ lift["last_weight"] }} kg
                </div>
            </div>
            <br>
        </div>
    {% endfor %}
    <form action="{{ url_for('finish') }}"
          method="post"
          name='finish'
          style="float:right;">
        <input type="hidden" name="workout_type" value='{{ workout }}'>
        <button style="background-color:#bfe6f2;float:right;"
                name='finish'
                type="submit"
                class="btn btn-default">Finish Workout
        </button>
    </form>
    </form>
</div>
</html>